[bumpversion]
current_version = 0.5.12
commit = False
tag = False

[bumpversion:file:snapcraft.yaml]

[bumpversion:file:AppImageBuilder.yml]

[bumpversion:file:ssh_proxy_server/__version__.py]

[bumpversion:file (compare vesions):CHANGELOG.md]
search = [Unreleased]: https://github.com/ssh-mitm/ssh-mitm/compare/{current_version}...develop
replace = [Unreleased]: https://github.com/ssh-mitm/ssh-mitm/compare/{new_version}...develop
	[{current_version}]: https://github.com/ssh-mitm/ssh-mitm/compare/{current_version}...{new_version}

[bumpversion:file (release changes):CHANGELOG.md]
search = [Unreleased] - DATE
replace = [{current_version}] - {now:%Y.%m.%d}

[bumpversion:file (add unreleased):CHANGELOG.md]
search = [Semantic Versioning](https://semver.org/spec/v2.0.0.html).
replace = [Semantic Versioning](https://semver.org/spec/v2.0.0.html).


	[Unreleased] - DATE
