#docs-nav .toctree-l1:nth-child(1):before,
#docs-cards .toctree-l1:nth-child(1) i:before {
    font-family: FontAwesome;
    content: "\f3e2";
}

#docs-nav .toctree-l1:nth-child(2):before,
#docs-cards .toctree-l1:nth-child(2) i:before {
    font-family: FontAwesome;
    content: "\f135";
}