myst-parser
pydata-sphinx-theme
sphinx
sphinx-autodoc-typehints
sphinx-copybustton
sphinx-design
sphinx-notfound-page
sphinx-reredirects
sphinx-sitemap<2.4.0
sphinx-togglebutton
sphinxcontrib-mermaid
